h1{
    font-family:'Trebuchet MS';
    font-size: 30px;
    color:#6F1E51;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #D980FA;
}
h2{
    font-family:'Trebuchet MS';
    font-size: 15px;
    color:#6F1E51;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;

}
p{
    font-style: italic;
    font-size: 25px;
    color:#6F1E51;
    background-color: #D980FA;
    text-align: left;
    padding-right: 50px;
}
body{
    background-color: #D980FA;
}
footer{
    color:#6F1E51;
}
.imagem-redonda{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.centralizar-texto{
    text-align: center;
}
.botoes-redes-sociais{
    text-align: center;
    padding-bottom: 20px;
}
.alinhar-fotos{
    display: flex;
    justify-content: right;
    align-items: right;

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.coluna-esquerda {
    flex: 1; 
    padding: 10px; 
    text-align: left; 
}
.coluna-direita {
    flex: 1;
    text-align: right;
    padding: 10px;
}
.botao-albums{
    display: inline-block;
}